<div class="list-widget list-scrollable-container list-flush scroll-after">
    <div class="control-list list-scrollable" data-control="listwidget">
        <table class="table data" data-control="rowlink">
            <thead>
            <tr>
                <th><span><?= e(trans('jacob.logbook::lang.log')) ?></span></th>
                <th><span><?= e(trans('jacob.logbook::lang.date')) ?></span></th>
                <?php if ($this->showUndoChangesButton): ?>
                    <th><span></span></th>
                <?php endif; ?>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->logs as $log): ?>
                <tr>
                    <?php $changes = $log->getMutation(); ?>
                    <?php $currentModelClass = $log->getModel() ?>
                    <?php $currentModel = new $currentModelClass; ?>
                    <?php $modelName = trans($currentModel->logBookModelName ?? substr(strrchr(get_class($currentModel), "\\"), 1)); ?>
                    <td>
                        <?php if ($log->backendUser): ?>
                            <?= e(trans('jacob.logbook::lang.changes.user', [
                                'user' => ucfirst($log->backendUser->login),
                                'type' => trans('jacob.logbook::lang.changes.type.' . $changes->getType()),
                                'model' => $modelName
                            ])) ?>
                        <?php else: ?>
                            <?= e(trans('jacob.logbook::lang.changes.unknown', [
                                'type' => trans('jacob.logbook::lang.changes.type.' . $changes->getType()),
                                'model' => $modelName
                            ])) ?>
                        <?php endif; ?>

                        <?php if ($changes->isTypeUpdated()): ?>
                            : <br/>
                            <?php foreach ($changes->getChangedAttributes() as $attribute): ?>
                                <?= e(trans('jacob.logbook::lang.changes.column', [
                                    'column' => trans($currentModel->changeLogBookDisplayColumn($attribute->getColumn())),
                                    'from' => $currentModel->changeLogBookDisplayValue($attribute->getColumn(), $attribute->getOld()) ?? '-',
                                    'to' => $currentModel->changeLogBookDisplayValue($attribute->getColumn(), $attribute->getNew()) ?? '-'
                                ])) ?>
                               <br/>
                            <?php endforeach ?>
                        <?php endif; ?>
                    </td>
                    <td>
                        <?= $log->updated_at->format('l j F Y H:i:s') ?>
                    </td>
                    <?php if ($this->showUndoChangesButton): ?>
                        <td>
                            <?php if ($currentModel->logBookLogUndoable ?? true && $changes->isTypeUpdated()): ?>
                                <button class="btn btn-primary"
                                        data-request="onLogBookUndoChange"
                                        data-request-data="id: <?= $log->getId() ?>"
                                        data-request-flash>
                                    <?= e(trans('jacob.logbook::lang.undo')) ?>
                                </button>
                            <?php else: ?>
                                <button disabled class="btn btn-primary">
                                    <?= e(trans('jacob.logbook::lang.undo')) ?>
                                </button>
                            <?php endif; ?>
                        </td>
                    <?php endif; ?>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <?php if ($this->logs): ?>
            <div class="list-footer">
                <div class="list-pagination">
                    <div class="control-pagination">
                        <span class="page-iteration">
                            <?= e(trans('backend::lang.list.pagination', [
                                'from' => $this->logs->firstItem(),
                                'to' => $this->logs->lastItem(), 'total' => $this->logs->total()
                            ])) ?>
                        </span>

                        <?php if ($this->logs->currentPage() !== 1): ?>
                            <a data-request="onLogBookChangePage"
                               data-request-data="page: <?= $this->logs->currentPage() - 1 ?>"
                               href="javascript:void(0);"
                               class="page-back"
                               title="<?= e(trans('backend::lang.list.prev_page')) ?>"></a>
                        <?php else: ?>
                            <span
                                class="page-back"
                                title="<?= e(trans('backend::lang.list.prev_page')) ?>"></span>
                        <?php endif; ?>

                        <?php if ($this->logs->currentPage() !== $this->logs->lastPage()): ?>
                            <a data-request="onLogBookChangePage"
                               data-request-data="page: <?= $this->logs->currentPage() + 1 ?>"
                               href="javascript:void(0);"
                               class="page-next"
                               title="<?= e(trans('backend::lang.list.next_page')) ?>"></a>
                        <?php else: ?>
                            <span
                                class="page-next"
                                title="<?= e(trans('backend::lang.list.next_page')) ?>"></span>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        <?php endif ?>
    </div>
</div>
